# Analisis Mundiales

Es un archivo de analisis de mundiales descargados de la fuente de kagle.

In [2]:
# cargando librerías necesarias..
import pandas as pd
import numpy as np
from datetime import datetime


ruta_archivo = "D://Cursos//Python//Ejercicios//DataSet//MundialChampions.csv"

data = pd.read_csv(ruta_archivo, sep = ',')
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False

#### Analisis del Dataframe

Ordenando la data en base a las fechas para el analisis exploratorio...

In [3]:
DataOrdenada = data.sort_values(by= "date", ascending = "False")
DataOrdenada

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False
41236,2019-10-20,DR Congo,Central African Republic,4,1,African Nations Championship qualifying,Congo DR,DR Congo,False
41235,2019-10-20,Congo,Equatorial Guinea,1,0,African Nations Championship qualifying,Congo,Congo,False
41237,2019-10-20,Libya,Tunisia,1,2,African Nations Championship qualifying,Libya,Libya,False
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False

In [12]:
# fechas de los mundiales

serie = pd.Series(DataOrdenada['date'])
serie.unique()

AttributeError: 'Series' object has no attribute 'year'

In [4]:
DataOrdenada.describe()

         home_score    away_score
count  41243.000000  41243.000000
mean       1.744975      1.189317
std        1.750513      1.406648
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000